{{!-- Σελίδα Αεροπορικών Εταιρειών από την πλευρά του Admin --}}
{{#if adminId}}
<div class="main">
    <div class="choices"></div>
    <div class="selection">
        <div class="airlines-container">
            <div class="company-info">
                {{#each airlines}}
                <div class="row">
                    <div class="company">{{airline_name}}</div>
                    <a href="/flights" target="_self">Πτήσεις</a>
                </div>
                <div class="row-info">
                    <img class="icon" src="" style="background-color: white;">
                    <div class="details">
                        <div class="telephone">Τηλέφωνο: <div>{{telephone}}</div></div>
                        <div class="website">Email: <div>{{email}}</div></div>
                        <div class="entrance">Τερματικός : <div>{{terminal}} - Θύρα : {{gate_name}}{{gate_number}}</div></div>
                        <div class="buttons"> 
                            <button class="edit" onclick="editInfo(`{{airline_ID}} {{IATA}} {{telephone}} {{email}} {{terminal}} {{gate_name}} {{gate_number}}`)">Επεξεργασία</button>
                            <button class="remove" onclick="deleteInfo(`{{airline_ID}} {{IATA}} {{telephone}} {{email}} {{terminal}} {{gate_name}} {{gate_number}}`)">Διαγραφή</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="companies-flights" id="companies-flights">
            <div class="company"></div>
            <div class="choices">
                <button class="arrivals" onclick="arrivals_on()">Αφίξεις</button>
                <button class="departures" onclick="departures_on()">Αναχωρήσεις</button>
            </div>
            <div class="container">
                <table class="arrivals-table">
                    <thead>
                        <tr class="row">
                            <th>Πρoέλευση</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table class="departures-table">
                    <thead>
                        <tr class="row">
                            <th>Προορισμός</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="insertbutton">
    <button class="insert" onclick="add_airline()">Πρσθήκη Αεροπορικής Εταιρείας</button>
</div>
<form class="new_airline" action="/new_airline" method="POST">
    <div class="airline">
        <label for="name">Όνομα Αεροπορικής Εταιρείας: <input type="text" name="name" placeholder="Όνομα" required></label>
    </div>
    <div>
    <label for="iata">Iata_code: <input type="text" name="iata" placeholder="XX" size="5" maxlength="2" required></label>
    <label for="icao">Icao_code: <input type="text" name="icao" placeholder="YYY" size="5" maxlength="3"></label>
    <label for="telephone">Τηλέφωνο: <input type="tel" name="telephone" placeholder="Τηλέφωνο"  pattern="\d{10}"></label>
    <label for="email">Email: <input type="email" name="email" placeholder="Διεύθυνση email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"></label>
    <label for="terminal">Terminal:
        <select id="terminal" name="terminal">
            <option value="1" selected>1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
        </select>
    </label>
    <label for="gate">Θύρα: 
        <select id="gate" name="gate">
            <option value="A" selected>A</option>
            <option value="B" >B</option>
        </select>
    </label>
    <label for="gate_number">Αριθμός Θύρας: 
        <input type="number" min="1" max="20" value="1" name="gate_number" id="gate_number">
    </label>
    </div>
    <input type="submit" value="Υποβολή">
</form>

<div id="covid" >
    <div class="wrap">
        <div class="close" onclick="covid_off()">&times;</div>
        <div class="covidtext"></div>
    </div>
</div>
{{/if}}