<div class="main">
    <div class="choices"></div>
    <div class="selection">
        <div class="airlines-container">
            <div class="company-info">
                {{#each airlines}}
                <div class="row">
                    <div class="company">{{airline_name}}</div>
                    <a href="#companies-flights" target="_self">Πτήσεις</a>
                </div>
                <div class="row-info">
                    <img class="icon" src="" style="background-color: white;">
                    <div class="details">
                        <div class="telephone">Τηλέφωνο: <div>{{telephone}}</div></div>
                        <div class="website">Email: <div>{{email}}</div></div>
                        <div class="entrance">Τερματικός : <div>{{terminal}} - Θύρα : {{gate_name}}{{gate_number}}</div></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="companies-flights" id="companies-flights">
            <div class="company"></div>
            <div class="choices">
                <button class="arrivals" onclick="arrivals_on()">Αφίξεις</button>
                <button class="departures" onclick="departures_on()">Αναχωρήσεις</button>
            </div>
            <div class="container">
                <table class="arrivals-table">
                    <thead>
                        <tr class="row">
                            <th>Πρoέλευση</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <table class="departures-table">
                    <thead>
                        <tr class="row">
                            <th>Προορισμός</th>
                            <th>Αριθμός πτήσης</th>
                            <th>Προγραμματισμένη ημέρα-ώρα</th>
                            <th>Κατάσταση</th>
                            <th>Πύλη</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="covid" >
    <div class="wrap">
        <div class="close" onclick="covid_off()">&times;</div>
        <div class="covidtext"></div>
    </div>
</div>