<div class="choices">
    <a href='http://localhost:3000/flights/arrivals' class="arrivals" , onclick="arrivals_form()"{{#if bool}} style="background-color: rgb(50, 26, 26);"{{/if}}> Αφίξεις</a>
    <a href='http://localhost:3000/flights/departures' class="departures" onclick="departures_form()"{{#if bool2}} style="background-color: rgb(50, 26, 26);"{{/if}}>Αναχωρήσεις</a>
</div>
    {{!-- <iframe name="hiddenFrame" class="hide"></iframe>
    <div class="flights-menu">
        <div class="arrivals-form" id="arrivals">
            <form action="http://localhost:3000/user_arrivals" method="post" onsubmit="arrivals_on()" target="hiddenFrame">
                <div class="selection">
                    <div class="arrival">
                        <label for="departure-airport">Αναζήτηση Αεροδρομίου</label><br>
                        <select id="departure-airport" name="user_departure_airport" required>
                        </select>
                    </div>
                    <div class="airline">
                        <label for="airline_departure">Αεροπορική Εταιρεία</label><br>
                        <select id="airline_arrival" name="user_airline_departure">
                            
                        </select>
                    </div>
                    <div class="number_flight">
                        <label for="number_of_flight">Κωδικός Πτήσης</label><br>
                        <input type="text" id="number_of_flight" name="user_number_of_flight">
                    </div>
                    <div class="date-selection">
                        <label class="date">Ημερομηνία άφιξης</label><br>
                        <input type="date" name="date" required>
                    </div>
                    <div class="sub">
                        <input type="submit" value="Αναζήτηση">
                    </div>
                </div>
            </form>
        </div>
        <div class="departures-form" id="departures">
            <form action='http://localhost:3000/user_departures' method="post" onsubmit="departures_on()" target="hiddenFrame">
                <div class="selection">
                    <div class="departure">
                        <label for="arrival-airport">Αναζήτηση Αεροδρομίου</label><br>
                        <select id="arrival-airport" name="user_arrival_airport" required></select>
                    </div>
                    <div class="airline">
                        <label for="airline_arrival">Αεροπορική Εταιρεία</label><br>
                        <select id="airline_departure" name="user_airline_departure">
                            
                        </select>
                    </div>
                    <div class="number_flight">
                        <label for="number_of_flight">Κωδικός Πτήσης</label><br>
                        <input type="text" id="number_of_flight" name="user_number_of_flight">
                    </div>
                    <div class="date-selection">
                        <label for="date">Ημερομηνία αναχώρησης</label><br>
                        <input type="date" name="date" required>
                    </div>
                    <div class="sub">
                        <input type="submit" value="Αναζήτηση">
                    </div>
                </div>
            </form>
        </div> --}}
        
        <div class="flights-info">
            {{#if bool}}
            <div class="arr">
                <table class="arrivals-table flights-header",id= "arrivals">
                <thead>
                    <tr class="row">
                        <th rowspan="2">Αεροπορική Εταιρεία</th>
                        <th>Προέλευση</th>
                        <th>Αριθμός πτήσης</th>
                        <th>Προγραμματισμένη ώρα</th>
                        <th>Κατάσταση</th>
                        <th>Terminal</th>
                    </tr>
                </thead>
                {{#each flights}}
                <tr class="row row-down">
                        <th>{{airline_name}}</th>
                        <th>{{city}}</th>
                        <th>{{flight_ID}}</th>
                        <th>{{flight_date}} {{expected_time}}</th>
                        <th>Κατάσταση</th>
                        <th>{{terminal}}-{{gate_name}}{{gate_number}}</th>
                </tr>
                {{/each}}
                </table>
            </div>
            {{/if}}
            {{#if bool2}}
            <div class="dep">
                <table class="departures-table flights-header",id= "departures">
                <thead>
                    <tr class="row">
                        <th rowspan="2">Αεροπορική Εταιρεία</th>
                        <th>Προορισμός</th>
                        <th>Αριθμός πτήσης</th>
                        <th>Προγραμματισμένη ώρα</th>
                        <th>Κατάσταση</th>
                        <th>Terminal</th>
                    </tr>
                </thead>
                {{#each flights2}}
                <tr class="row row-down">
                        <th>{{airline_name}}</th>
                        <th>{{city}}</th>
                        <th>{{flight_ID}}</th>
                        <th>{{flight_date}} {{expected_time}}</th>
                        <th>Κατάσταση</th>
                        <th>{{terminal}}-{{gate_name}}{{gate_number}}</th>
                </tr>
                {{/each}}
            </table>
            </div>
            {{/if}}
        </div>
    </div>